*.png
*.csv
*.txt

# C (Clang, Make)
*.exe
*.o
*.d
*.a
*.so
*.dylib
*.dll
*.out
*.app
build/
cmake-build-*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.swp
*.swo
